/***** The Page ****************/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0; height: 0;
}

body{
    font-family: ‘Bree Serif’, ‘Book Antiqua’, Palatino, serif;
    text-transform: uppercase;
    background-image: url("../img/bg1.png");
    color: #fbf8fb;
}

/***** The Header ****************/

header, main{
    width: 960px;
    margin: 0 auto;
}

h1{
    float: left;
    font-size: 3em;
    font-weight: lighter;
    margin:10px 0 0 0;
    color: #cccccc;
}

strong{
    color: #931100;
    font-weight: bold;
}

#official{
    float: right;
    font-weight: lighter;
    color: #cccccc;
    font-size: 1em;
}

/***** Bio ****************/
p{
    text-align: justify;
    line-height: 130%;
    font-size: 1.1em;
    text-transform: none;
}

/***** Pictures ****************/

ul {
    padding:0 0 0 0;
    margin:0 0 40px 0;
}
ul li {
    list-style:none;
    margin-bottom:10px;
}
ul li.bspHasModal {
    cursor: pointer;
}
.modal-body {
    padding:5px !important;
}
.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}
.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}
.text {
    font-family: 'Bree Serif';
    color:#666;
    font-size:11px;
    margin-bottom:10px;
    padding:12px;
    background:#fff;
}
.glyphicon-remove-circle:hover {
    cursor: pointer;
}
@media screen and (max-width: 380px){
    .col-xxs-12 {
        width:100%;
    }
    .col-xxs-12 img {
        width:100%;
    }
}

/***** Footer ****************/

footer{
    color: #929292;
    font-family: 'open sans',arial,sans-serif;
    font-size: .8em;
    font-weight: 300;
    margin:20px 10px;
}

footer> a{
    display: inline;
    padding: 5px;
}